@{
  Layout = "_Layout";
}

<h1>Add a New Contact</h1>
<form action='/contact/new' method='post'>
  <label for='new-name'>Name:</label>
  <input class= 'form-control' id='new-name' name='new-name' type='text'>
  <label for='new-phone-number'>Phone Number:</label>
  <input class= 'form-control' id='new-phone-number' name='new-phone-number' type='text'>
  <label for='new-address'>Address:</label>
  <input class= 'form-control' id='new-address' name='new-address' type='text'>
  <button type='submit' class='btn btn-info'>Add</button>
</form>
<br>
<a href="/"><button>Show All Contacts</button></a>
