@{
  Layout = "_Layout";
}

<h1>Add a New Contact</h1>
<form action='/contact/show' method='post'>
  <label for='new-name'>Name</label>
  <input id='new-name' name='new-name' type='text'>
  <label for='new-name'>Name</label>
  <label for='new-phone-number'>Phone Number</label>
  <input id='new-phone-number' name='new-phone-number' type='text'>
  <label for='new-address'>Address</label>
  <input id='new-address' name='new-address' type='text'>
  <button type='submit'>Add</button>
</form>
