@{
  Layout = "_Layout";
}
<h1>Contact</h1>
<p>@Model.GetName()</p>
<p>Phone Number: @Model.GetPhoneNumber()</p>
<p>Address: @Model.GetAddress()</p>

<a href="/"><button>View All Contacts</button></a>
<a href="/contact/add"><button>Add Another Contact</button></a>
