@{
  Layout = "_Layout";
}

<h1>You Added a New Contact</h1>
<h3>@Model.GetName()</h3>
<p>Phone Number: @Model.GetPhoneNumber()</p>
<p>Address: @Model.GetAddress()</p>

<a href="/contact/add"><button>Add Another Contact</button></a>
<a href="/"><button>View All Contacts</button></a>
